@using Test_Manager_Alpha.Models;
@model Test_Manager_Alpha.Models.Project

@{
    ViewBag.Title = @Model.Name;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Project Info: @Model.Id</h2>

<div>
    <h3>Description:</h3>
    <p> @Model.Description </p>
</div>

<h3>Test Suites</h3>
<table class="table">
        <tr>
        @foreach (TestSuite testSuite in @Model.TestSuite)
            {
            <td>@testSuite.Name</td>
            }
        </tr>
</table>

@section Footer {
    <div>
        <p> </p>
        <p>Copyright© Maxim Gushchin, @DateTime.Now.Year. All rights reserved </p>
    </div>
}